
.search-container {
    width: 100%;
    display: flex;
    padding-left: .5rem
}

.search-bar-label {
    width: 65%;
    display: flex;
}

.search-bar {
    border-style: solid;
    width: 100%;
    background: #12242D;
    border-width: 2px;
    border-color: #000;
    padding: 0 5px;
    color: #FFF;
}

.search-bar::placeholder{
    color: #666666;
    
    text-align: left ;
}

.search-btn {
    width: 50px;
    font-size: 12px;
}

